.titre {
    margin-top: 10vh;
    width: 50%;
}
.title {

    margin-bottom: 5vh;
    text-align: center;
    color: #4e5a59;
}
.hello {
    padding-bottom: 50vh;
}
.containerAuth{
    margin-top:15vh;
    margin-bottom: 10vh;
}
.alert {
    margin-left: 0;
    text-align: center;
}
.formContainerBig {
    padding-top: 4vh;
    padding-bottom: 10vh;
}
.formContainer {
    padding: 2vh 0vh 1vh 0vh;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

}
.adminTable {
    background-color: rgb(255, 255, 255);
    margin-top: 10vh;
    padding: 2vh;
    border-radius: 30px;
    /* box-shadow: 23px 25px 27px -3px rgba(134, 138, 135, 0.61);
    -webkit-box-shadow: 23px 25px 27px -3px rgba(134, 138, 135, 0.61);
    -moz-box-shadow: 23px 25px 27px -3px rgba(134, 138, 135, 0.61); */
}
.annonceCard {
    box-shadow: 23px 25px 27px -3px rgba(134, 138, 135, 0.61);
    -webkit-box-shadow: 23px 25px 27px -3px rgba(134, 138, 135, 0.61);
    -moz-box-shadow: 23px 25px 27px -3px rgba(134, 138, 135, 0.61);
}
.page-link {
    color: #4e5a59;
    background-color: #fff;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #90a09e;
    border-color: #7b8886;
}
@media screen and (min-width: 767px) {
    .navbar {
        z-index: 100;
        position: fixed;
        top: 0 !important;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .navbar {
        z-index: 100;
        position: fixed;
        bottom: 0 !important;
        width: 100%;
        text-align: center;
        border-radius: 30px 30px 0 0;
    }
}

.tableResponsive {
    align-items: center;
    justify-content: center;
}
